<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
  </head>
  <body>
    <div class="SignUpMainContainer">
      <div class="SignUpContainer">
        <div class="imgCenter">
          <img src="../../assets/imgs/Logo.png" />
        </div>
        <div class="formContainer">
          <form>
            <div class="signUpContentContainer">
              <div class="signUpContent">
                <div class="innerInput">
                  <p>First Name :</p>
                  <input placeholder="Enter Your Name" />
                </div>
                <div class="innerInput">
                  <p>Email Id :</p>
                  <input placeholder="info@xyz.com" />
                </div>
                <div class="innerInput">
                  <p>Password :</p>
                  <input placeholder="xxxxxxxxxx" />
                </div>
                <div class="innerInput">
                  <p>Company Name :</p>
                  <input placeholder="Enter company name ..." />
                </div>
                <button class="signUpBtn">Sign Up</button>
              </div>

              <div class="signUpContent">
                <div class="innerInput">
                  <p>Last Name :</p>
                  <input placeholder="Enter your name.." />
                </div>
                <div class="innerInput">
                  <p>Mobile No. :</p>
                  <input placeholder="+91 - 98596 58000" />
                </div>
                <div class="innerInput">
                  <p>Confirm Password:</p>
                  <input placeholder="xxxxxxxxxx" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="signUpPhoto">
        <img src="../../assets/imgs/sign_up--01 1.png" />
      </div>
    </div>
  </body>
</html>
