<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
  </head>
  <body>
    <div class="SignUpMainContainer">
      <div class="SignUpContainer">
        <div class="imgCenter">
          <img src="../../assets/imgs/Logo.png" />
        </div>
        <div class="formContainer">
          <form [formGroup]="signUpForm" (ngSubmit)="onFormSubmit()">
            <div class="signUpContentContainer">
              <div class="signUpContent">
                <div class="innerInput">
                  <p>First Name :</p>
                  <input
                    type="text"
                    placeholder="Enter Your Name"
                    formControlName="firstname"
                  />
                  <div>
                    <p
                      class="error"
                      *ngIf="firstname?.invalid && firstname?.errors?.['required']"
                    >
                      First Name Is Required
                    </p>
                    <p
                      class="error"
                      *ngIf="firstname?.invalid && (firstname?.touched || firstname?.dirty) &&firstname?.errors?.['minlength']"
                    >
                      First Name Must be at least 3 character
                    </p>
                    <p
                      class="error"
                      *ngIf="firstname?.invalid && (firstname?.touched || firstname?.dirty) && firstname?.errors?.['maxlength']"
                    >
                      First Name Must fewer than 17 character
                    </p>
                    <p
                      class="error"
                      *ngIf="firstname?.invalid && (firstname?.touched || firstname?.dirty) && firstname?.errors?.['pattern']"
                    >
                      First Name Must have only characters from a to z
                    </p>
                  </div>
                </div>
                <div class="innerInput">
                  <p>Email Id :</p>
                  <input
                    type="email"
                    placeholder="info@xyz.com"
                    formControlName="email"
                  />
                </div>
                <div>
                  <p
                    class="error"
                    *ngIf="email?.invalid &&  email?.errors?.['required']"
                  >
                    email is required
                  </p>
                  <p
                    class="error"
                    *ngIf="email?.invalid && email?.errors?.['email']"
                  >
                    Email format is incorrect .... example: angular@gmail.com
                  </p>
                </div>
                <div class="innerInput">
                  <p>Password :</p>
                  <input placeholder="xxxxxxxxxx" formControlName="password" />
                </div>
                <div>
                  <p
                    class="error"
                    *ngIf="password?.invalid &&  password?.errors?.['required']"
                  >
                    Password is required
                  </p>
                  <p
                    class="error"
                    *ngIf="password?.invalid &&  password?.errors?.['minlength']"
                  >
                    Password must be at least 6 character
                  </p>
                </div>
                <div class="innerInput">
                  <p>Company Name :</p>
                  <input
                    type="text"
                    placeholder="Enter company name ..."
                    formControlName="companyname"
                  />
                </div>
                <div>
                  <p
                    class="error"
                    *ngIf="companyname?.invalid &&  companyname?.errors?.['required']"
                  >
                    Company Name Is Required
                  </p>
                </div>
                <button
                  type="submit"
                  class="signUpBtn"
                  (click)="onFormSubmit()"
                  [disabled]="signUpForm.invalid"
                >
                  Sign Up
                </button>
              </div>

              <div class="signUpContent">
                <div class="innerInput">
                  <p>Last Name :</p>
                  <input
                    placeholder="Enter your name.."
                    formControlName="lastname"
                  />
                </div>
                <div>
                  <p
                    class="error"
                    *ngIf="lastname?.invalid &&  lastname?.errors?.['required']"
                  >
                    Last Name Is Required
                  </p>
                  <p
                    class="error"
                    *ngIf="firstname?.invalid && (firstname?.touched || firstname?.dirty) &&firstname?.errors?.['minlength']"
                  >
                    Last Name Must be at least 3 character
                  </p>
                  <p
                    class="error"
                    *ngIf="firstname?.invalid && (firstname?.touched || firstname?.dirty) && firstname?.errors?.['maxlength']"
                  >
                    Last Name Must fewer than 17 character
                  </p>
                  <p
                    class="error"
                    *ngIf="firstname?.invalid && (firstname?.touched || firstname?.dirty) && firstname?.errors?.['pattern']"
                  >
                    Last Name Must have only characters from a to z
                  </p>
                </div>
                <div class="innerInput">
                  <p>Mobile No. :</p>
                  <input
                    placeholder="+91 - 98596 58000"
                    formControlName="mobilenom"
                    type="text"
                    class="mobNumInput"
                  />
                  {{ mobilenom?.errors | json }}
                </div>

                <div>
                  <p
                    class="error"
                    *ngIf="mobilenom?.invalid &&  mobilenom?.errors?.['required']"
                  >
                    Mobile No. Is Required
                  </p>
                  <p
                    class="error"
                    *ngIf="mobilenom?.invalid &&  mobilenom?.errors?.['maxlength']"
                  >
                    Mobile No. length should be exactly 12 characters
                  </p>
                  <p
                    class="error"
                    *ngIf="mobilenom?.invalid &&  mobilenom?.errors?.['minlength']"
                  >
                    Mobile No. length should be exactly 12 characters
                  </p>
                  <p
                    class="error"
                    *ngIf="mobilenom?.invalid &&  mobilenom?.errors?.['pattern']"
                  >
                    Mobile No. pattern should be only numbers, and also number
                    should start with 995
                  </p>
                </div>

                <div class="innerInput">
                  <p>Confirm Password:</p>
                  <input
                    placeholder="xxxxxxxxxx"
                    formControlName="confirmpass"
                  />
                  <p
                    class="error"
                    *ngIf="signUpForm?.invalid && signUpForm?.errors?.['passwordNotMatch']"
                  >
                    Passwords Does Not Match
                  </p>
                  <div>
                    <p
                      class="error"
                      *ngIf="confirmpassword?.invalid &&  confirmpassword?.errors?.['required']"
                    >
                      Confirm Password Is Required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="signUpPhoto">
        <img class="photo" src="../../assets/imgs/sign_up--01 1.png" />
        <img class="background" src="../../assets/imgs/SignUpBackground.png" />
      </div>
    </div>
  </body>
</html>
